<!-- Page Content -->
<div class="container">


  <!-- Page Features -->
  <div class="row text-center">
    <% @products.each do |product| %>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card shadow bg-white rounded ml-1">
        <img class="card-img-top" src="<%= product.image %>" alt="">
        <div class="card-body">
          <h4 class="card-title"><%= product.title %></h4>
          <p class="card-text"><%= product.description %></p>
          <p><%= product.price %>€</p>
        </div>
        <div class="card-footer">
          <%= link_to "Acheter", product_path(product), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <% end %>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Boutik.fr 2018</p>
  </div>
  <!-- /.container -->
</footer>
